This tool is for helping you filter, query and summarize CSV/data files in a comprehensible way
The usage is as follows:
	csvtrace -parser basic -input jobs.csv -input-type csv -output table $QUERY
In this example it selects the basic parser, reads from jobs.csv, of the type csv. Outputs a table
and runs query $QUERY. You are required to specify all of these arguments.

{{if eq .Parser "basic"}}Basic Parser

Queries can do the following:
- Filtering out data
- Selecting components of the data to view
- Grouping and summarizing data

The Queries can be build up like this:
Simple filter query
	filter not c.job icontains .Software
Which filters all row's `job` column that does not contain `Software`
Then you can filter the columns using:
	into table c.job f.year[c.startdate] f.month[c.startdate]
If you wanted a summary / count of the lines you can use the summary converter:
	into summary c.job calculate f.sum[c.pay] f.count
Which groups the row on job, then creates a sum of pay and a count of elements grouped
If you want to sort you can use:
	sort f.year[c.startdate] f.month[c.startdate]
These can be used in any combination and repeated for the desired effect:
	filter c.startdate icontains .Software into summary c.job f.year[c.startdate] calculate f.count filter c.year-startdate eq 2022 sort c.job
And so forth

Notes:
- Single word string literals begin with a `.`
- Columns are referred to by `c.`
- Extension PRs are welcome and intended
- All functions are preceded by `f.`
{{end}}
A complete list of functions supported:
