Basic Parser

Queries can do the following:
- Filtering out data
- Selecting components of the data to view
- Grouping and summarizing data

The Queries can be build up like this:
Simple filter query
{{if eq .Type "csv"}}	filter not c.job icontains .Software
Which filters all row's `job` column that does not contain `Software`
Then you can filter the columns using:
	into table c.job f.year[c.startdate] f.month[c.startdate]
{{else if eq .Type "ical"}}	filter not p.SUMMARY icontains .Report
Which filters all events without SUMMARY containing 'Report'
Then you can convert the emails to tabular form using:
	into table p.LOCATION f.year[p.DUE] f.month[p.DUE]
Which creates table of locations, and the due year and due month.
{{else if eq .Type "mail"}}	filter not h.user-agent icontains .Kmail
Which filters all emails sent with a user agent that does not contain `kmail`
Then you can convert the emails to tabular form using:
	into table h.user-agent h.subject f.year[h.date] f.month[h.date]
Which creates table of user agent, subject, and the year and month.
{{end -}}
If you wanted a summary / count of the lines you can use the summary converter:
{{if eq .Type "csv"}}	into summary c.job calculate f.sum[c.pay] f.count
Which groups the row on job, then creates a sum of pay and a count of elements grouped
{{else if eq .Type "ical"}}	into summary p.LOCATION f.year[p.DUE] f.month[p.DUE] calculate f.count
Which groups the calendar invites based on location, due date year, due date month, then adds a count
{{else if eq .Type "mail"}}	into summary h.user-agent h.subject f.year[h.date] f.month[h.date] calculate f.sum[c.size] f.count
Which groups the mail based on user-agent, subject, year, month, then creates a sum and a count
{{end -}}
If you want to sort you can use:
{{if eq .Type "csv"}}	sort f.year[c.startdate] f.month[c.startdate]
{{else if eq .Type "ical"}}	sort f.year[p.DUE] f.month[p.DUE]
{{else if eq .Type "mail"}}	sort f.year[h.date] f.month[h.date]
{{end -}}
These can be used in any combination and repeated for the desired effect:
{{if eq .Type "csv"}}	filter c.startdate icontains .Software into summary c.job f.year[c.startdate] calculate f.count filter c.year-startdate eq 2022 sort c.job
{{else if eq .Type "ical"}}	filter p.SUMMARY icontains .Report into summary p.LOCATION f.year[p.DUE] f.month[p.DUE] calculate f.count filter c.year-DUE eq 2022 sort p.LOCATION
{{else if eq .Type "mail"}}	filter h.user-agent icontains .Kmail into summary h.user-agent f.year[h.date] calculate f.count filter c.year-date eq 2022 sort h.user-agent
{{end -}}
And so forth

Notes:
- Single word string literals begin with a `.`
{{if eq .Type "csv"}}- Columns are referred to by `c.`
{{else if eq .Type "ical"}}- Properties are referred to with `p.` once in table form it becomes a column referred to by `c.`
- I haven't implemented sub components yet
{{else if eq .Type "mail"}}- Headers are referred to with `h.` once in table form it becomes a column referred to by `c.`
- I haven't implemented any body parsing components yet
{{end -}}
- Extension PRs are welcome and intended
- All functions are preceded by `f.`
{{if eq .Type "ical"}}- Once converted to table form, it can not be converted back to ical / ics
{{else if eq .Type "mail"}}- Once converted to table form, it can not be converted back to mailfile or mbox
{{end -}}
