Basic Parser

Queries are designed to process, filter, and summarize data effectively.
Specifically, queries allow you to:
- Filter out irrelevant data
- Select specific components of the data to view
- Group, summarize, and calculate metrics on the data

You can construct queries progressively. Here are examples of how to build them:

1. Simple Filtering
	{{.FilterExample}}
	Explanation: {{.FilterExplanation}}

2. Selecting Components (Tabular Conversion)
	{{.TableExample}}
	Explanation: This extracts specific fields from the {{.EntityPlural}} and converts them into a tabular format for viewing.

3. Grouping and Summarization
	{{.SummaryExample}}
	Explanation: This groups the {{.EntityPlural}} based on specific fields, and then applies aggregate calculations (like sums or counts) to those groups.

4. Sorting Data
	{{.SortExample}}
	Explanation: This sorts the resulting data based on the specified fields.

5. Combining Operations
	Operations can be chained together sequentially to achieve complex data processing:
	{{.ComboExample}}

Notes:
- String literals consisting of a single word should begin with a dot (`.`).
- {{.ColRef}}
- All functions must be preceded by `f.`.
- Extension PRs are welcome and encouraged!
{{if .NotImplementedNote}}{{.NotImplementedNote}}
{{end -}}
{{if .CannotConvertBackNote}}{{.CannotConvertBackNote}}
{{end -}}
