Basic Parser

Queries can do the following:
- Filtering out data
- Selecting components of the data to view
- Grouping and summarizing data

The Queries can be built up like this:
Simple filter query
{{.FilterQuery}}
{{.FilterDesc}}
{{.TableIntro}}
{{.TableQuery}}
{{if .TableDesc}}{{.TableDesc}}
{{end -}}
If you wanted a summary / count of the lines you can use the summary converter:
{{.SummaryQuery}}
{{.SummaryDesc}}
If you want to sort you can use:
{{.SortQuery}}
These can be used in any combination and repeated for the desired effect:
{{.ComboQuery}}
And so forth

Notes:
- Single word string literals begin with a `.`
{{.ColRefNote}}
{{if .NotImplementedNote}}{{.NotImplementedNote}}
{{end -}}
- Extension PRs are welcome and intended
- All functions are preceded by `f.`
{{if .CannotConvertBackNote}}{{.CannotConvertBackNote}}
{{end -}}
