{{define "header"}}Basic Parser

Queries are designed to process, filter, and summarize data effectively.
Specifically, queries allow you to:
- Filter out irrelevant data
- Select specific components of the data to view
- Group, summarize, and calculate metrics on the data

You can construct queries progressively. Here are examples of how to build them:{{end}}

{{define "sortIntro"}}	Explanation: This sorts the resulting data based on the specified fields.{{end}}

{{define "comboIntro"}}	Operations can be chained together sequentially to achieve complex data processing:{{end}}

{{define "notesIntro"}}- String literals consisting of a single word should begin with a dot (`.`).{{end}}

{{define "footer"}}- All functions must be preceded by `f.`.
- Extension PRs are welcome and encouraged!{{end}}